<?xml version="1.0" encoding="UTF-8"?>

<configuration status="debug">

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd hh:mm:ss} %5p [%c] %m%n"/>
        </Console>
    </Appenders>

    <loggers>
        <root level="info" additivity="true">
            <AppenderRef ref="console"/>
        </root>

        <logger level="info" name="org.springframework" additivity="false">
            <AppenderRef ref="console"/>
        </logger>
<!--        web은 좀 더 자세한 디버그를 보고 싶을 때 -->
        <logger level="debug" name="org.springframework" additivity="false">
            <AppenderRef ref="console"/>
        <AppenderRef ref="console"/>
    </logger>
    </loggers>

</configuration>